html, body {
  font-family: 'Arvo', sans-serif;
}

.col-md-4 {
  margin: 0px !important;
  padding: 0px !important;
}

.col-md-6 {
  margin: 0px !important;
  padding: 0px !important;
}

.container-fluid {
  margin: 0px !important;
  padding: 0px !important;
}

.row-fluid {
  margin: 0px !important;
  padding: 0px !important;
}

/* header */
h1 {
  padding: 10px 15px;
}

.header p {
  padding: 0px 15px;
}

.header ul {
  margin-top: 15px;
  margin-bottom: 35px;
}

.header li a {
  padding: 10px 15px;
}

.header a {
  text-decoration: none;
  color: black;  
}

.header ul.nav a:hover {
  background-color: white;
  border-top: #DDDDDD solid 1px;
  border-right: #DDDDDD solid 1px;
  border-bottom: white solid 1px;
  border-left: #DDDDDD solid 1px;
}

.header ul.nav a:focus {
  background-color: white;
  border-top: #DDDDDD solid 1px;
  border-right: #DDDDDD solid 1px;
  border-bottom: white solid 1px;
  border-left: #DDDDDD solid 1px;
 }

 /* Main */
.main-content {
  padding: 45px 45px 60px 45px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  padding: .5px;
}

/* Footer */
.footer .social-media {
  border-top: #DDDDDD solid 1px;
}

.footer ul {
  margin-top: 10px;
  padding-left: 0px;
  list-style-type: none;
}

.footer ul li {
  display: inline;
}

.footer ul li a {
  padding: 10px 15px 15px 15px;
  list-style-type: none;
  text-decoration: none;
  color: black;
}

.footer p {
  color: #8A8A8A;
  font-size: 12px;
  padding: 10px;
}

@media (max-width: 414px) {
  .main-content {
   padding: 45px 22.5px 60px 22.5px;
  }
  img {
    padding-left: 0px;
    padding-right: 0px;
  }
}